@page "/"
@using shared.Model

<PageTitle>Kreddit</PageTitle>

<h1 style="text-align:center;">Welcome to Kreddit</h1>

<CreatePost OnPostCreated="AddPostToList"></CreatePost>


<PostList @ref="postList"></PostList>

@code {
    private PostList? postList;

    private async Task AddPostToList(Post newPost)
    {
        if (postList != null)
            await postList.AddPostAsync(newPost);
    }

}
